<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "Chow chow.jpg", width: 300, alt: "Profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>Hello my name is Quentin Douglas, im a very active person who loves to play outside with friends and mess around on computers with games and other things.</p>
  </div>
</div>
