<h1>Pages#contact</h1>

<p>CALL ME   <%= number_to_phone "6054756968" %></p>

<p>MY MONEY   <%= number_to_currency "6.02E23" %> BOI</p>

<p>HOW HARD I GO   <%= number_to_percentage "110.110" %></p>

<p>MAKE A WISH   <%= number_with_delimiter "111111111111111111111111111" %></p>